.boxed-form{
    border:1px solid #e2e2e2;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(195,196,174,0.55);
    -moz-box-shadow: 0px 0px 20px 0px rgba(195,196,174,0.55);
    box-shadow: 0px 0px 20px 0px rgba(195,196,174,0.55);
    padding:10px;
    margin: 0px auto;
    display: block;
}
#result{
    position: relative;
    width:150px;
    margin-top:10px;

}
.cell{
    display:table-cell;
}
.rowcell{
    display:table-row;
}
.table{
    display: table;
}
.cell.rowspanned{
    position: absolute;
    top:0;
    bottom: 0;
    width:100px;
}
.cell.empty{
    border:none;
    width:100px;
}